<div class="page">
  <header class="page__header">
    <div class="page__header__content">
      <img
        src="/assets/images/millenium-falcon.png"
        alt="nave millenium falcon star wars"
        class="page__header__content__logo"
      />
      <h1 class="page__header__content__title">Prefeitura de Coruscant</h1>
    </div>
    <button class="page__header__new" routerLink="/registrations-list">
      Lista de Vacinados
    </button>
  </header>
  <body class="page__body">
    <h2 class="page__body__title">
      <p class="page__body__title__vaccine">Vacinação COVID-19</p>
      <p class="page__body__title__registration">Cadastro</p>
    </h2>

    <!-- NOME -->
    <form class="page__body__form" (ngSubmit)="sendForm()" autocomplete="off">
      <label for="name" class="page__body__form__labels"
        >Nome do Paciente *</label
      >
      <input
        id="name"
        class="input-default"
        type="text"
        name="nome"
        [(ngModel)]="patientObject.name"
        [ngClass]="{
          'style-condition':
            patientObject.name.length != 0 &&
            !regexExpressions.lettersAndSpace.test(patientObject.name)
        }"
        maxlength="40"
      />
      <span
        class="span-name message-alert"
        *ngIf="
          patientObject.name.length != 0 &&
          !regexExpressions.lettersAndSpace.test(patientObject.name)
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Digitar apenas letras ou espaços!</p></span
      >

      <!-- IDADE -->
      <div class="page__body__form__date">
        <label for="birth-date" class="page__body__form__labels"
          >Data de Nascimento *</label
        >
        <input
          id="birth-date"
          type="text"
          name="birth-date"
          class="input-default"
          [(ngModel)]="patientObject.birthDate"
          [ngClass]="{
            'style-condition':
            patientObject.birthDate.length > 0 &&
            (!regexExpressions.date.test(patientObject.birthDate) ||
            !formValidateConditions.birthDate)
          }"
          (keyup)="
            includeSeparatorsInDate(
              $event,
              'birthDate'
            )
          "
          (focus)="formValidateConditions.birthDate = true"
          (focusout)="
            validateDate(patientObject.birthDate) &&
            patientObject.birthDate.length > 0
              ? (formValidateConditions.birthDate = true)
              : (formValidateConditions.birthDate = false)
          "
          maxlength="10"
          placeholder="Digite apenas números (ddmmaaaa)"
        />
      </div>
      <span
        class="span-name message-alert"
        *ngIf="
          patientObject.birthDate.length != 0 &&
          !regexExpressions.date.test(patientObject.birthDate)
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Digitar apenas números!</p></span
      >
      <span
        class="span-name message-alert"
        *ngIf="
          patientObject.birthDate.length > 0 && !formValidateConditions.birthDate
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Data inválida!</p></span
      >

      <!-- CARTÃO DO SUS -->
      <label for="sus-card" class="page__body__form__labels"
        >Cartão do SUS *</label
      >
      <input
        id="sus-card"
        class="input-default"
        type="text"
        name="cartao-sus"
        [(ngModel)]="patientObject.numberSusCard"
        maxlength="15"
        [ngClass]="{
          'style-condition':
            patientObject.numberSusCard.length > 0 &&
            (!regexExpressions.susCard.test(patientObject.numberSusCard) ||
              !formValidateConditions.susCard)
        }"
        (focus)="formValidateConditions.susCard = true"
        (focusout)="
          patientObject.numberSusCard.length == 15 &&
          patientObject.numberSusCard.length > 0
            ? (formValidateConditions.susCard = true)
            : (formValidateConditions.susCard = false)
        "
      />
      <span
        class="span-name message-alert"
        *ngIf="
          !formValidateConditions.susCard &&
          patientObject.numberSusCard.length > 0
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>O número do cartão do SUS possui 15 dígitos.</p></span
      >
      <span
        class="span-name message-alert"
        *ngIf="
          patientObject.numberSusCard.length != 0 &&
          !regexExpressions.susCard.test(patientObject.numberSusCard)
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Digitar apenas números!</p></span
      >

      <!-- DATA DE APLICAÇÃO -->
      <div class="page__body__form__date">
        <label for="application-date" class="page__body__form__labels"
          >Data de Aplicação *</label
        >
        <input
          id="date-application"
          type="text"
          name="application-date"
          class="input-default"
          [(ngModel)]="patientObject.dateApplicationVaccine"
          [ngClass]="{
            'style-condition':
            patientObject.dateApplicationVaccine.length > 0 &&
            (!regexExpressions.date.test(patientObject.dateApplicationVaccine) ||
            !formValidateConditions.applicationDate)
          }"
          (keyup)="
            includeSeparatorsInDate(
              $event,
              'applicationVaccineDate'
            )
          "
          (focus)="formValidateConditions.applicationDate = true"
          (focusout)="
            validateDate(patientObject.dateApplicationVaccine) &&
            patientObject.dateApplicationVaccine.length > 0
              ? (formValidateConditions.applicationDate = true)
              : (formValidateConditions.applicationDate = false)
          "
          maxlength="8"
          placeholder="Digite apenas números (ddmmaaaa)"
        />
      </div>
      <span
        class="span-name message-alert"
        *ngIf="
          patientObject.dateApplicationVaccine.length != 0 &&
          !regexExpressions.date.test(patientObject.dateApplicationVaccine)
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Apenas números!</p></span
      >
      <span
        class="span-name message-alert"
        *ngIf="
        patientObject.birthDate.length > 0 && !formValidateConditions.applicationDate
        "
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Data inválida!</p></span
      >

      <!-- VACINA APLICADA -->
      <label for="vaccine" class="page__body__form__labels"
        >Vacina Aplicada*</label
      >
      <select
        name="vaccine-select"
        class="input-default"
        id="vaccine-select"
        [(ngModel)]="patientObject.vaccineID"
        [ngClass]="{
          'style-condition': formValidateConditions.emptyVaccine
        }"
      >
        <option disabled selected>Selecione uma vacina</option>
        <option
          *ngFor="let vaccine of vaccines"
        >
          {{ vaccine.name }}
        </option>
      </select>
      <span
        class="span-name message-alert"
        *ngIf="formValidateConditions.emptyVaccine"
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>É preciso selecionar uma vacina!</p></span
      >

      <div class="page__body__form__buttons">
        <button type="submit" class="page__body__form__buttons__send">
          <fa-icon
            [icon]="faPaperPlane"
            class="page__body__form__buttons__send__icon"
          ></fa-icon
          >Enviar
        </button>
        <button
          type="button"
          class="page__body__form__buttons__clear"
          (click)="resetForm()"
        >
          <fa-icon
            [icon]="faArrowsRotate"
            class="page__body__form__buttons__clear__icon"
          ></fa-icon
          >Limpar
        </button>
      </div>
      <span class="span-name message-alert-send" *ngIf="!allFieldsFilled"
        ><fa-icon [icon]="faTriangleExclamation"></fa-icon>
        <p>Todos os campos precisam ser preenchidos!</p></span
      >
    </form>
  </body>
  <footer>
    <p class="citation">"Que a força esteja com você!"</p>
    <p>- Prefeito Yoda</p>
  </footer>
</div>
