<div class="page">
  <header class="page__header">
    <div class="page__header__content">
      <img
        src="/assets/images/millenium-falcon.png"
        alt="nave millenium falcon star wars"
        class="page__header__content__logo"
      />
      <h1 class="page__header__content__title">Prefeitura de Coruscant</h1>
    </div>
  </header>
  <body class="page__body">
    <h2 class="page__body__title">
      <p class="page__body__title__vaccine">Vacinação COVID-19</p>
      <p class="page__body__title__registration">Editar Cadastro</p>
    </h2>
    <form class="page__body__form" (ngSubmit)="sendFormRegistrationEdited()">
      <label for="name" class="page__body__form__labels"
        >Nome do Paciente</label
      >
      <input
        id="name"
        class="page__body__form__inputs"
        type="text"
        name="nome"
        [(ngModel)]="patient.name"
      />

      <label for="age" class="page__body__form__labels">Idade</label>
      <input
        id="age"
        class="page__body__form__inputs"
        type="number"
        name="idade"
        [(ngModel)]="patient.age"
      />

      <label for="sus-card" class="page__body__form__labels"
        >Cartão do SUS</label
      >
      <input
        id="sus-card"
        class="page__body__form__inputs"
        type="number"
        name="cartao-sus"
        [(ngModel)]="patient.numberSusCard"
      />

      <div class="page__body__form__date">
        <label for="data-application" class="page__body__form__labels"
          >Data de Aplicação</label
        >
        <input
          id="date-application"
          type="text"
          name="data"
          class="page__body__form__inputs"
          (keyup)="setDateApplicationVaccine($event)"
          [(ngModel)]="dateApplicationVaccine"
          maxlength="10"
          placeholder="dd/mm/aaaa"
        />
        <div *ngIf="showToastValidationsCharactersToDate">
          <p>Digite apenas números!</p>
        </div>
      </div>

      <label for="vaccine" class="page__body__form__labels"
        >Vacina Aplicada</label
      >
      <select
        name="vaccine-select"
        class="page__body__form__inputs"
        id="vaccine-select"
        [(ngModel)]="patient.vaccine"
      >
        <option *ngFor="let vaccine of vaccineOptions">{{ vaccine }}</option>
      </select>

      <button
        class="page__body__form__send"
        (click)="verifyDateFormat()"
        type="submit"
      >
        <i></i>Enviar
      </button>
    </form>
  </body>
  <footer>
    <p class="citation">"Que a força esteja com você!"</p>
    <p>- Prefeito Yoda</p>
  </footer>
</div>
